@charset "utf-8";

/* INITIALIZE */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form, label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main,summary,time,mark,audio,video,a{margin:0; padding:0; border:0; font-size:100%; background:transparent; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:''; content:none;}
pre,code,kbd,samp{font-family:monospace,monospace; font-size:inherit;}
table{border-collapse:collapse; border-spacing:0;}
img{border:0;}
address,caption,cite,code,dfn,em,th,var,i{font-style:normal; font-weight:normal;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
sup{vertical-align:text-top; font-size:75%;}
sub{vertical-align:text-bottom; font-size:75%;}
input,textarea,select,button{vertical-align:middle; font-family:inherit; font-size:inherit; font-weight:inherit; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
a{outline:none;}
input:focus,textarea:focus,select:focus,button:focus,a:focus,li:focus{outline:1px dashed #000000;}
a.inline{color:#00a9dd; text-decoration:underline;}
a.inline:focus{outline:none;}
a.inline:active {color: #007ab9;}
audio:not([controls]){display:none;}
time{display:inline;}
[hidden]{display:none;}
input::-ms-clear,input::-ms-reveal,input:focus::-ms-clear,input:focus::-ms-reveal{visibility:hidden; display:none;}
button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner{padding:0; border:0;}
img { -ms-interpolation-mode: bicubic; }
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance:textfield;
    ime-mode: disabled;
}

html{background-color: #eee8a9;}

#wrapper{height:100%;width:100%;}
#container{min-height:700px; background-color:#eee8a9;width: 100%; margin-top:60px; margin-bottom:40px;}
#siteHeader{height:50px; background-color:#D7D5A0;position: fixed;top: 0;width: 100%;}

#siteHeader .cancelButton{height: 30px;width: 60px;background-color: #e73c40;float: right;margin-right: 14px;margin-top: 10px;padding-top: 5px;font-weight: bold;text-align: center;color: #312f2d;}

#siteFooter{height:40px; background-color:#151c23;position: fixed;bottom: 0;width: 100%; display:none;}

#header{height: 30px;position: fixed;top: 0px;left: 0px;width: 100%;background-color: #eadfd5;}
#headerTitle{width: 100%;text-align: center;color: #312f2d;line-height: 56px; font-weight: bold; letter-spacing: 2px; font-size: 24px;}

div.categoryTitle{font-size: 21px; height:60px;width:90%;background-color:#1f8bc2;color:#eee8a9;;text-align:left;padding-left:10px;line-height:34px; margin-left: 5%; margin-top: 20px;letter-spacing: 2px;font-weight: bold;}

div.pictureList{height: 120px;width: 90%;overflow: auto;white-space: nowrap;margin-top: 3px;margin-bottom: 2px; margin-left: 5%;}
.pictureList li{display:inline;}
.pictureList li img{width: 120px; height:120px;}

div#operation {width:100%; height:50px;}
div#operation .operationButtonSpace{float:left; width:33%; height: 54px;}
div#operation .operationButtonSpace.last{width:34%;}

div#operation .operationButton{width: calc(100% - 24px);height: 36px;position: relative;top: 8px;left: 12px; border-radius: 5px;}

div#operation .operationButton.add{background-color: #55d2f6;}
div#operation .operationButton.edit{background-color: #55f679;}
div#operation .operationButton.remove{background-color: #f67955;}

div#confirmForm {width:100%; height:60px;}
div#confirmForm .confirmSpace{float:left; width:50%; height: 100%;}

div#confirmForm .confirmButton{width: calc(100% - 24px);height: 36px; margin: 8px 0px 0px 12px; padding-top: 7px; font-weight: bold; border-radius: 5px; text-align:center;}

div#confirmForm .confirmButton.cancel{background-color: #e73c40;}
div#confirmForm .confirmButton.ok{background-color: #55f679;}

.categoryList li{list-style: none; list-style: none;height: 34px;padding: 6px 0px 0px 11px;font-weight: bold;border-radius: 5px;margin-bottom: 8px;  border: 1px solid transparent;border-color: #312f2d;}
li.categoryEnabled{background-color: #f1a220;color: #eee8a9;}

.menberList li{list-style:none;height:35px;background-color:lightblue;font-weight:400;vertical-align:middle;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 12px;font-size:14px;line-height:1.428571429;border-radius:4px; margin-bottom: 8px;}

.editGroupList li{border:1px solid; height: 30px;padding-left: 10px; line-height: 27px;margin: 0px 5px 5px 5px;border-radius: 5px;}

.modal-body{background-color:#eee8a9; border-radius: 5px;}
.modal-body .modalTitle{    height: 30px;    font-size: 20px;    margin-bottom: 6px;    margin-top: -8px;    font-weight: bold;    letter-spacing: 2px;    color: #312f2d;}
.modal-body .closeButton{height:10px; width:10px; background-color:red;}

.categoryDetailArea{color:#eee8a9;}
.categoryDetailArea .goodButton{float:left;margin-top:-9px; font-size: 14px;}
.categoryDetailArea .loveButton{float:left;margin-top:-8px; margin-left: 18px; font-size: 14px; line-height: 32px;}
.categoryDetailArea span.goodCount{margin-left: 10px;}
.categoryDetailArea img{width: 16px;height: 16px;margin-bottom: 6px;}
.categoryDetailArea .loveButton img{width: 14px;height: 14px; margin-bottom: 4px;}

div.detailArea{width:100%; height:100%; background-color:#DEDBA6; padding: 10px 0px 10px 10px;margin-top:6px; color:#312f2d;}
.detailArea .itemName{font-size:14px;}
.detailArea .item{font-size:20px; font-weight:bold;}
.detailArea .detailSeparateLine{border-top: 1px solid; width: 75%; margin: 4px 0px 4px 0px; border-color: #c1be86;}
.detailArea .analysisArea{}
.detailArea .analysisName{list-style:none; display:inline; height: 20px;width: 150px; position:absolute; font-weight:bold;}
.detailArea .analysisPercent{list-style:none; display:inline; height: 20px;width: 120px; margin-left:170px;}

div.pictureList.related{margin-left:0px; margin-top:10px; width:96%; height:80px;}
div.pictureList.related img{width:80px; height:80px;}

.menuHeader{height:50px; width:100%; background-color:#312f2d; margin-bottom: 30px;}
.menuFooter{height:70px; width:100%; background-color:#312f2d; margin-top: 30px; position:absolute; bottom:0;}
.groupButton{width: 94%;height: 50px;background-color: #3BC158;margin-left: 3%;margin-top: 10px;text-align: center;line-height: 50px;font-size: 24px;color: #eee8a9;}
.menuTitle{height: 35px;width: 200px;position: absolute;top: 8px;left: 36%;font-size: 24px;color: #eee8a9;}
/*
.menu li{width: 90%; margin-left: 16px;}
.menu #ln01 li{width: 100%; margin-left: 0px;}
*/

.menu li{border-bottom: 1px solid transparent;}
.menu #ln01 li{}
.groupInfo{margin-top:-45px; position:relative; color:#171615;margin-left: 10px;}
#settingIcon{float:right; margin-top:-44px; margin-right:14px;}
#settingIcon img{width:30px; height:30px;}

.editArea{background-color: #DEDBA6;margin: 0px 10px 0px 10px;border-radius: 0px; padding: 12px 0px 0px 12px;}
.editArea .groupName{height:44px; padding: 0px 0px 0px 12px; font-weight: bold;}
.editArea .editNameField{outline: 0;border: 0px;background: transparent;font-size: 20px;width: 83%;}
.editArea .editIcon{float: right;margin-right: 26px;margin-top: 0px;}
.editArea .editIcon img{width:20px;height:20px;}
.editArea .clickArea{color:#312f2d; width: 100%;height: 100%;display: block;}

.editArea .nameUnderLine{border-bottom: 1px solid;border-bottom-color: #c1be86;width: 94%;}
.editButton{width:96%;height: 40px;background-color: #c1be86;margin-top: 22px;border-radius: 5px; padding: 10px 0px 0px 14px; font-weight: bold;}

/* サブメニュー */
#siteHeader .logout{position:absolute; right:15px; top:16px; text-align:right; font-size:10px;}
#siteHeader .logout a:before{content:''; display:inline-block; width:13px; height:15px; margin-right:2px; background:url(../images/sprite_sp.png) no-repeat -100px 0; background-size:500px auto; vertical-align:middle;}
#siteHeader .toggle{width:40px; height:35px; position:absolute; left:14px; top:12px; padding-top: 6px;}
/*
#siteHeader .toggle a{width:40px; height:20px; display:block; text-indent:50px; overflow:hidden; white-space:nowrap; background:url(../images/sprite_sp.png) no-repeat -340px 0; background-size:500px auto;} 
*/
#siteHeader .toggle a{margin-top: -32px;margin-left: -5px;width:40px; height:100%; display:block; text-indent:50px; overflow:hidden; white-space:nowrap; background-size:500px auto;} 
#siteHeader .toggle .iconBar{width: 30px; height: 4px; background-color: #eb9710; margin-bottom: 4px;}
#drawer{background:rgba(0,0,0,.4); position:fixed; left:0; top:0; width:100%; height:100%; padding-right:50px; z-index:100; display:none;}
/*
#drawer .toggle{width:40px; height:40px; position:absolute; right:5px; top:2px; left:auto;}
#drawer .toggle a{width:40px; height:40px; display:block; text-indent:50px; overflow:hidden; white-space:nowrap; background:url(../images/sprite_sp.png) no-repeat -220px 0; background-size:500px auto;} 
*/
#drawer .inner{background:#fff; height:100%; position:relative; left:-110%;}
#drawer .inner .promo{position:absolute; left:0; bottom:0; width:100%;}
#drawer .inner .promo img{width:100%; height:auto; display:block;}
#drawer div.menu{overflow:auto; background-color:#171615;}
#drawer nav.local{clear:both;}
/*
#drawer nav.local ul li{border-bottom:1px #fff solid;}
*/
#drawer nav.local ul li a{padding:0 30px 0 10px; height:40px; line-height:40px; display:block; text-decoration:none; position:relative; color:#fff; background:#eb9710;}
/*
#drawer nav.local ul li a:after{content:''; display:block; width:6px; height:10px; background:url(../images/sprite_sp.png) no-repeat -160px -20px; background-size:500px auto; vertical-align:middle; position:absolute; right:10px; top:50%; margin-top:-5px;}
#drawer nav.local ul li.sub{border-bottom:1px #fff solid;}
*/
#drawer nav.local ul li.sub:nth-child(5){border-bottom:0px;}

/* グループ大項目 */
#drawer nav.local ul li.sub a{padding:0 30px 0 10px; height:60px; line-height:40px; display:block; text-decoration:none; position:relative; color:#312f2d; background:#eee8a9; font-size: 20px; font-weight: bold;}
/*
#drawer nav.local ul li.sub a:after{content:''; display:block; width:10px; height:6px; background:url(../images/sprite_sp.png) no-repeat -160px -30px; background-size:500px auto; vertical-align:middle; position:absolute; right:10px; top:50%; margin-top:-5px;}
*/
#drawer nav.local ul li.sub ul{display:none;}
/*
#drawer nav.local ul li.sub ul li{border-top:1px #ccc solid;border-bottom:initial;}
*/
/* グループ小項目 */
#drawer nav.local ul li.sub ul li a{padding:0 30px 0 22px; height:40px; line-height:40px; display:block; text-decoration:none; position:relative; color:#fff; background:#e68f02;}
#drawer nav.local ul li.sub ul li a:after{content:''; display:block; width:6px; height:10px; background:url(../images/sprite_sp.png) no-repeat -160px -10px; background-size:500px auto; vertical-align:middle; position:absolute; right:10px; top:50%; margin-top:-5px;}
#drawer nav.external{clear:both;}
#drawer nav.external ul li{border-bottom:1px #ccc solid;}
#drawer nav.external ul li:nth-child(1){border-top:1px #ccc solid;}
#drawer nav.external ul li a{padding:0 30px 0 10px; height:40px; line-height:40px; display:block; text-decoration:none; position:relative; color:#585858;}
#drawer nav.external ul li a:after{position:absolute; right:10px; top:50%; margin-top:-5px; background-position:-80px 0;}
