
<div class="version"></div>
<div class="intro">
<div>
	<label>グループ名</label>
	<input type="text">	
	
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	メンバー追加
	</button>
</div>


<div class="modal fade" id="myModal" tabindex="-1″ role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title" id="myModalLabel">メンバーを追加</h4>
</div>
<div class="modal-body" >
<div class="menberList" >
	<button type="button" class="menberList" id="nameList">須賀久美子</button>
	<button type="button" class="menberList" id="nameList">五十嵐 勇紀</button>
	<button type="button" class="menberList" id="nameList">出口 敦規</button>
	<button type="button" class="menberList" id="nameList">岸本 準平</button>
	<button type="button" class="menberList" id="nameList">石澤  陽太</button>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">やめる</button>
<button type="button" class="btn btn-primary"data-dismiss="modal">決定</button>
</div>
</div>
</div>
</div>

<div id="confirmForm">
	<div class="confirmSpace"><div class="confirmButton cancel">キャンセル</div></div>
	<div class="confirmSpace"><div class="confirmButton ok">作成</div></div>
</div>
</div>