
<div class="version"></div>
<div class="intro">

<div class="categoryTitle">ポートレイト</div>
<div class="pictureList">
	<ul>
		<li><img src="images/import_images/beatles@sgt_peppers.jpg" data-toggle="modal" data-target="#myModal"></li>
		<li><img src="images/import_images/jimihendrix@axis.jpg"></li>
		<li><img src="images/import_images/nirvana@nevermind.jpg"></li>
		<li><img src="images/import_images/prince@lovesexy.jpg"></li>
		<li><img src="images/import_images/red_hot@by_the_way.jpg"></li>
	</ul>
</div>

<div class="categoryTitle">風景</div>
<div class="pictureList">
	<ul>
		<li><img src="images/import_images/beatles@sgt_peppers.jpg"></li>
		<li><img src="images/import_images/jimihendrix@axis.jpg"></li>
		<li><img src="images/import_images/nirvana@nevermind.jpg"></li>
		<li><img src="images/import_images/prince@lovesexy.jpg"></li>
		<li><img src="images/import_images/red_hot@by_the_way.jpg"></li>
	</ul>
</div>

<div class="categoryTitle">風景</div>
<div class="pictureList">
	<ul>
		<li><img src="images/import_images/beatles@sgt_peppers.jpg"></li>
		<li><img src="images/import_images/jimihendrix@axis.jpg"></li>
		<li><img src="images/import_images/nirvana@nevermind.jpg"></li>
		<li><img src="images/import_images/prince@lovesexy.jpg"></li>
		<li><img src="images/import_images/red_hot@by_the_way.jpg"></li>
	</ul>
</div>

<div class="categoryTitle">風景</div>
<div class="pictureList">
	<ul>
		<li><img src="images/import_images/beatles@sgt_peppers.jpg"></li>
		<li><img src="images/import_images/jimihendrix@axis.jpg"></li>
		<li><img src="images/import_images/nirvana@nevermind.jpg"></li>
		<li><img src="images/import_images/prince@lovesexy.jpg"></li>
		<li><img src="images/import_images/red_hot@by_the_way.jpg"></li>
	</ul>
</div>

<!-- モーダルウィンドウ  -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			<div class="modal-body">
				…
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>

</div>