
<div class="version"></div>
<div class="intro">

<div class="categoryTitle">ポートレイト</div>
<div class="pictureList">
	<ul>
		<li><img src="images/import_images/beatles@sgt_peppers.jpg"></li>
		<li><img src="images/import_images/jimihendrix@axis.jpg"></li>
		<li><img src="images/import_images/nirvana@nevermind.jpg"></li>
		<li><img src="images/import_images/prince@lovesexy.jpg"></li>
		<li><img src="images/import_images/red_hot@by_the_way.jpg"></li>
	</ul>
</div>

<div class="categoryTitle">風景</div>
<div class="pictureList">
	<ul>
		<li><img src="images/import_images/beatles@sgt_peppers.jpg"></li>
		<li><img src="images/import_images/jimihendrix@axis.jpg"></li>
		<li><img src="images/import_images/nirvana@nevermind.jpg"></li>
		<li><img src="images/import_images/prince@lovesexy.jpg"></li>
		<li><img src="images/import_images/red_hot@by_the_way.jpg"></li>
	</ul>
</div>

<div class="categoryTitle">風景</div>
<div class="pictureList">
	<ul>
		<li><img src="images/import_images/beatles@sgt_peppers.jpg"></li>
		<li><img src="images/import_images/jimihendrix@axis.jpg"></li>
		<li><img src="images/import_images/nirvana@nevermind.jpg"></li>
		<li><img src="images/import_images/prince@lovesexy.jpg"></li>
		<li><img src="images/import_images/red_hot@by_the_way.jpg"></li>
	</ul>
</div>

<div class="categoryTitle">風景</div>
<div class="pictureList">
	<ul>
		<li><img src="images/import_images/beatles@sgt_peppers.jpg"></li>
		<li><img src="images/import_images/jimihendrix@axis.jpg"></li>
		<li><img src="images/import_images/nirvana@nevermind.jpg"></li>
		<li><img src="images/import_images/prince@lovesexy.jpg"></li>
		<li><img src="images/import_images/red_hot@by_the_way.jpg"></li>
	</ul>
</div>


<p><small>カメラロール</small></p>

<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>
<p><small>テスト文章</small></p>

</div>