<!-- 
 -->
<div class="toggle">
	<div class="iconBar"></div>
	<div class="iconBar"></div>
	<div class="iconBar"></div>
	<a tabindex="2020">
	</a>
</div>

<div id="drawer">
	<div class="toggle"><a tabindex="2230">Close</a></div>
	<div class="inner">
		<div class="menu">
			<div class="menuHeader"  ng-click="close()">
				<div class="menuTitle"><span>Groups</span></div>
				<a class="cancelButton">Close</a>
			</div>
			<nav class="local">
				<ul>
					<li class="sub" ng-repeat="group in groupList">
						<a ng-bind="group.groupTitle"></a>
						<ul id="ln01">
							<li ng-repeat="event in group.events" ng-click="transitionCamera(event.eventTitle)"><a ng-bind="event.eventTitle"></a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<div class="menuFooter">
				<div class="groupButton" ng-click="transitionGroup('Create')">Create</div>
			</div>
		</div>
	</div>
</div>
<div id="headerTitle" ng-bind="headerTitle"></div>
<div id="settingIcon" ng-click="transitionEditGroup('Edit')"><img src="images/import_images/setting.png"></img></div>