
<!-- 
 -->
<div class="toggle">
	<a tabindex="2020">
		<button type="button" id="header_menu" class="navbar-toggle toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</a>
</div>

<div id="drawer">
	<div class="toggle"><a tabindex="2230">Close</a></div>
	<div class="inner">
		<div class="menu">
			<nav class="local">
				<ul>
<!-- 
					<li ng-click="transitionCamera('cameraRoll', 'all')"><a>カメラロール</a></li>
 -->
					<li class="sub"><a>地元の友達</a>
						<ul id="ln01">
							<li ng-click="transitionCamera('friend', '1')"><a>2016.6.1 金沢旅行</a></li>
							<li ng-click="transitionCamera('friend', '2')"><a>2015.5.5 バーベキュー</a></li>
							<li ng-click="transitionCamera('friend', '3')"><a>日常スナップ</a></li>
						</ul>
					</li>
					<li class="sub"><a>Jazz研究会</a>
						<ul id="ln01">
							<li ng-click="transitionCamera('jazz', '1')"><a>2016.2.18 冬合宿</a></li>
							<li ng-click="transitionCamera('jazz', '2')"><a>2015.12.16 クリスマスライブ</a></li>
							<li ng-click="transitionCamera('jazz', '3')"><a>2015.11.2 学園祭 一日目</a></li>
							<li ng-click="transitionCamera('jazz', '4')"><a>2015.4.20 新人歓迎会</a></li>
						</ul>
					</li>
					<li ng-click="transitionGroup('selectGroup', '')"><a>グループ選択画面へ</a></li>
					
										<li class="sub"><a>Jazz研究会</a>
						<ul id="ln01">
							<li ng-click="transitionCamera('jazz', '1')"><a>2016.2.18 冬合宿</a></li>
							<li ng-click="transitionCamera('jazz', '2')"><a>2015.12.16 クリスマスライブ</a></li>
							<li ng-click="transitionCamera('jazz', '3')"><a>2015.11.2 学園祭 一日目</a></li>
							<li ng-click="transitionCamera('jazz', '4')"><a>2015.4.20 新人歓迎会</a></li>
						</ul>
					</li>
										<li class="sub"><a>Jazz研究会</a>
						<ul id="ln01">
							<li ng-click="transitionCamera('jazz', '1')"><a>2016.2.18 冬合宿</a></li>
							<li ng-click="transitionCamera('jazz', '2')"><a>2015.12.16 クリスマスライブ</a></li>
							<li ng-click="transitionCamera('jazz', '3')"><a>2015.11.2 学園祭 一日目</a></li>
							<li ng-click="transitionCamera('jazz', '4')"><a>2015.4.20 新人歓迎会</a></li>
						</ul>
					</li>
										<li class="sub"><a>Jazz研究会</a>
						<ul id="ln01">
							<li ng-click="transitionCamera('jazz', '1')"><a>2016.2.18 冬合宿</a></li>
							<li ng-click="transitionCamera('jazz', '2')"><a>2015.12.16 クリスマスライブ</a></li>
							<li ng-click="transitionCamera('jazz', '3')"><a>2015.11.2 学園祭 一日目</a></li>
							<li ng-click="transitionCamera('jazz', '4')"><a>2015.4.20 新人歓迎会</a></li>
						</ul>
					</li>
					
					
				</ul>
			</nav>
		</div>
	</div>
</div>
<div id="headerTitle" ng-bind="headerTitle"></div>