<div class="version"></div>
<div class="intro">
<small>グループ名</small>
	<div align="right">
	<button  ng-click="goodClick()" type="button"><img src="images/import_images/Good.png" alt="LIKE" width="20" height="20" /></button>
	<span id="goodCount" style="margin-left: 10px;">0</span>
	<button ng-click="badClick()" type="button"><img src="images/import_images/Bad.png" alt="DISLIKE" width ="20" height="20" /></button>
	<span id="badCount" style="margin-left: 10px;">0</span>
	</div>
<p><img src="images/import_images/beatles@sgt_peppers.jpg" alt="サンプル画像" width=100% height=100% /></p>
</div>