
<div class="version"></div>
<div class="intro">
<FONT size="3">
	<!-- <nobr> -->
	<div style="float:left;">
		<span style="color:white; background:#808080;">カテゴリ:</span>
	</div>
	<div style="float:left;">&nbsp;</div>
	<p>集合写真</p>

	<div style="float:left;">
		<span style="color:white; background:#808080;">投稿者:</span>
	</div>
	<div style="float:left;">&nbsp;</div>
	<div style="float:left;">石澤</div>
	<div style="float:left;">&emsp;</div>
	<div style="float:left;">
		<span style="color:white; background:#808080;">撮影日:</span>
	</div>
	<div style="float:left;">&nbsp;</div>
	<p>2017/3/4</p>

	<div style="float:left;">
		<span style="color:white; background:#808080;">撮影場所:</span>
	</div>
	<div style="float:left;">&nbsp;</div>
	<p>東京都港区海岸１丁目１６－１</p>

	<p><span style="color:white; background:#808080;">投稿者コメント</span></p>
	<!-- </nobr> -->
	<div style="float:left;">&emsp;</div>
	<p>I LOVE BEATLES！！</p>
	
	<p><small><br>
		<span style="color:white; background:#808080;">関連画像</span>
	</small></p>
</FONT>
</div>

<div class="pictureList">
	<ul>
		<li><img src="images/import_images/beatles@sgt_peppers.jpg"></li>
		<li><img src="images/import_images/jimihendrix@axis.jpg"></li>
		<li><img src="images/import_images/nirvana@nevermind.jpg"></li>
		<li><img src="images/import_images/prince@lovesexy.jpg"></li>
		<li><img src="images/import_images/red_hot@by_the_way.jpg"></li>
	</ul>
</div>