
<div class="version"></div>
<div class="intro">
	<p><nobr>投稿者：石澤　撮影日：2017/3/4　カテゴリ：XXXX</nobr></p>
	<p><nobr>撮影場所：東京都港区海岸１丁目１６－１</nobr></p>
	<p><small>投稿者コメント</small></p>
	<p><small>　：ウチの甥っ子</small></p>
</div>

<p><small>関連画像</small></p>

<div class="pictureList">
	<ul>
		<li><img src="images/import_images/beatles@sgt_peppers.jpg"></li>
		<li><img src="images/import_images/jimihendrix@axis.jpg"></li>
		<li><img src="images/import_images/nirvana@nevermind.jpg"></li>
		<li><img src="images/import_images/prince@lovesexy.jpg"></li>
		<li><img src="images/import_images/red_hot@by_the_way.jpg"></li>
	</ul>
</div>