<div class="version"></div>
<div class="intro">

	<div id="operation">
		<div class="operationButtonSpace"><div class="operationButton add" ng-click="add()">作成</div></div>
		<div class="operationButtonSpace"><div class="operationButton edit">編集</div></div>
		<div class="operationButtonSpace last"><div class="operationButton remove">削除</div></div>
	</div>
	<div class="inner">
		<div class="editGroupList">
			<ul>
				<li ng-repeat="group in groupList" ng-click="edit(group.groupTitle)"><a ng-bind="group.groupTitle"></a></li>
			</ul>
		</div>
	</div>
</div>